{% extends 'base.html.twig' %}
{% block stylesheets %}
            {# bootstrap #}
            
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {# custom #}
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}


{% block title %}Modifier une reservation{% endblock %}

{% block body %}
    <h1>Modifier votre reservation</h1>

    {{ include('Reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('Reservation_index') }}">Retour</a>

    {{ include('Reservation/_delete_form.html.twig') }}
{% endblock %}
